.emptyBox {
  margin-top: 2.4rem;
  border-top: .1rem solid var(--gray-300);
  border-radius: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  height: 100%;
}

.textContent {
  text-align: center;
  line-height: 1.6;
}

.textContent h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: var(--gray-300);
  font-weight: bold;
}

.textContent h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--gray-300);
}

