input[type='checkbox'] {
  clip-path: circle();
  width: 2rem;
  height: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  margin-top: 2.4rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 1.6rem;
  background: var(--gray-500);
  border-radius: .8rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  color: var(--gray-100);
}
